@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-bg: #232222;
  --color-dark-card: #2a2a2a;
  --color-dark-border: #333333;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}